.card{
    //functionality
    perspective: 150rem; // ekrandan dışarı döner gibi bir görüntü vermesi için kullanıyoruz. (büyük değer vermek lazım)
    -moz-perspective: 150rem; //works firefox
    position: relative;
    height: 50rem;

    &__side{
        color:  #fff;
        font-size: 2rem;
        height: 50rem;
        transition:  all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; //elementin arka kısmını gizler
        border-radius: 3px;
        box-shadow:  0 1.5rem 4rem rgba($color-black, .15);

        &--front{
            background-color: $color-white;
        }

        &--back{
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //front side styling
    &__picture{
        background-size: cover;
        &--1{
            background-image: url(../img/nat-5.jpg);
        }

        &--2{
            background-image: url(../img/nat-5.jpg);
        }

        &--3{
            background-image: url(../img/nat-5.jpg);
        }
    }


}